body{
    font-family: 'Tai Heritage Pro', serif;
    margin: auto;
}
h1{
    font-size: 40px;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin: 50px;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("Photo/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 700px;
}
.Click-Here{
    text-decoration: none;
    border: 1px solid red;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(lightsalmon, tomato);
    font-weight: 700;
    padding: 10px 10px;

}
.deam-area{
    background-image: url("Photo/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.gingle-experiance{
    box-shadow: 10px 10px 30px gray ;
    border-radius: 9px;
    height: 40%;
    padding-left: 20px;
    margin-left: 50px;
    
}
.experiance-area{
    background-image: url("Photo/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 5%;
}
#full-stack{
    border-left: 5px solid;
    border-image: linear-gradient( tomato, orange);
    border-image-slice: 1;

}
#baby-dev{
    border-left: 5px solid;
    border-image: linear-gradient( blue, lightblue);
    border-image-slice: 1;
}
.footer{
    text-align: center;
    font-weight: 700px;
    font-size: large;
}